<h2 class="fw-bold mb-4">Reception Dashboard</h2>

<div class="row g-4">

  <div class="col-md-4">
    <div class="card shadow border-0">
      <div class="card-body">
        <h6 class="text-muted">Total Patients</h6>
        <h2 class="fw-bold text-primary">{{ totalPatients }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow border-0">
      <div class="card-body">
        <h6 class="text-muted">Today’s Registrations</h6>
        <h2 class="fw-bold text-success">{{ todayPatients }}</h2>
      </div>
    </div>
  </div>

</div>
