<div class="sidebar bg-primary text-white p-3">

  <!-- DOCTOR PROFILE SECTION -->
  <div class="doctor-profile text-center mb-4">

   <img src="assets/img/doctors/doctors.png" 
     class="profile-pic mb-2">


    <h5 class="fw-bold">{{ doctor?.name }}</h5>
    <p class="small mb-0">{{ doctor?.email }}</p>
    <p class="small text-light">{{ doctor?.specialization }}</p>

    <hr class="bg-light">
  </div>

  <!-- MENU ITEMS HERE -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link text-white">
        <i class="bi bi-speedometer2"></i> Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/patients" class="nav-link text-white">
        <i class="bi bi-people"></i> Patient List
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/add-patient" class="nav-link text-white">
        <i class="bi bi-person-plus"></i> Add Patient
      </a>
    </li>
  </ul>

  <button class="btn btn-light w-100 mt-4" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i> Logout
  </button>

</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
