<div class="d-flex">

  <!-- SIDEBAR -->
  <aside class="reception-sidebar bg-info text-white">
     <!-- Reception profile -->
  <div class="reception-profile text-center mt-3 mb-2 cursor-pointer">

    <img src="assets/img/reception.png"
         class="profile-pic mb-2">

    <h5 class="fw-bold">{{ reception?.name }}</h5>
    <p class="small mb-0">{{ reception?.email }}</p>
    <p class="small text-light">{{ reception?.shift }}</p>

    <hr class="bg-light">
  </div>

    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a routerLink="/reception/dashboard" routerLinkActive="active"
           class="nav-link text-white">
          <i class="bi bi-speedometer2 me-2"></i> Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/reception/patients" routerLinkActive="active"
           class="nav-link text-white">
          <i class="bi bi-people me-2"></i> Patients
        </a>
      </li>

      <li class="nav-item mb-3">
        <a routerLink="/reception/add-patient" routerLinkActive="active"
           class="nav-link text-white">
          <i class="bi bi-person-plus me-2"></i> Add Patient
        </a>
      </li>
    </ul>

    <button class="btn btn-light m-3 mt-auto mt-5 " (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="reception-content flex-fill p-4">
    <router-outlet></router-outlet>
  </main>

</div>
