<div class="d-flex">

  <!-- SIDEBAR -->
  <aside class="reception-sidebar bg-info text-white">
    <div class="p-3 text-center border-bottom">
      <h5 class="fw-bold mb-0">Reception Panel</h5>
      <small>OPD System</small>
    </div>

    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a routerLink="/reception/dashboard" routerLinkActive="active"
           class="nav-link text-white">
          <i class="bi bi-speedometer2 me-2"></i> Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/reception/patients" routerLinkActive="active"
           class="nav-link text-white">
          <i class="bi bi-people me-2"></i> Patients
        </a>
      </li>

      <li class="nav-item mb-3">
        <a routerLink="/reception/add-patient" routerLinkActive="active"
           class="nav-link text-white">
          <i class="bi bi-person-plus me-2"></i> Add Patient
        </a>
      </li>
    </ul>

    <button class="btn btn-light m-3 mt-auto mt-5 " (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="reception-content flex-fill p-4">
    <router-outlet></router-outlet>
  </main>

</div>
